<div class="container-fluid mt-10">

  <div *ngIf ="!access_token">
    <h3>Welkom op deze app. Om verdere functionaliteit te kunnen gebruiken moet je eerst met Spotify inloggen.</h3>
      <button class="btn btn-dark-green loginbutton" (click)="loginSpotify();">Log in</button>
  </div>

  <div *ngIf = "access_token">
      <button class="btn btn-dark-green" (click)="fetchTrack();">Fetch track met ID</button>
      <input type="text" name="queryString" [(ngModel)]="queryString" placeholder="Zoek artiest op..." (keyup)="searchArtist();">
  </div>

  <div *ngIf = "track">
    <h1>Trackname: {{track.name}}</h1>
  </div>

  <div *ngIf = "artists">
    <div *ngFor = "let artist of artists"> 
      <a routerLink='/artistpage/{{artist.id}}'>{{artist.name}}</a>
      Volgende: access token naar pagina passen, artiest info ophalen, tracks bij artiesten laten zien
    </div>
  </div>
</div>>